//- require data:
    item - {id, name, description, unit_cost, quantity }

html(lang="en")
    head
        meta(charset="UTF-8")
        title #{item.name} | Inventory Tracking System

    body(onload="init()")
        .container
            #item-info(class="column lSide")
                p#item-id Item ID: #{item.id}
                form#item-info-form
                    label.labels(for="name") Name:
                    input.item-info-inputs(type="text" id="name" name="Item Name" value=item.name)
                    br
                    label.labels(for="description") Description:
                    input.item-info-inputs(type="text" id="description" name="Description" value=item.description)
                    br
                    label.labels(for="unit_cost") Unit Cost:
                    input.item-info-inputs(type="text" id="unit_cost" name="Unit Cost" value=item.unit_cost)
                    br
                    label.labels(for="quantity") Quantity:
                    input.item-info-inputs(type="text" id="quantity" name="Quantity" value=item.quantity)
                    br
                    input(type="button" id="save" value="Save Changes" onclick="saveItemChanges()")

                input(type="button" id="delete" value="Delete Item" onclick="deleteItem()")
                br
                a#back(href='/') Back
        script(src=`/js/item.js`)